table, td {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    border-color: #3b61df;
    font-family: lexend;
    color: #284bbb;
    background-color: rgb(90, 158, 218);
    min-width: 300px;
    table-layout: fixed;
    flex-wrap: wrap;
  }

  header {
    text-align: center;
    font-family: 'Lexend';
    color: #3b61df;
    font-size: 40px;
    margin-bottom: 20px;
  }

  body {
    background-color: #fffaeb;
    padding: 100px;
    border-radius: 50px;
  }

  h1 {
    font-family: 'Lexend';
    color: #3b61df;
    font-size: 50px;
  }

  img {
    border-radius: 2px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-left: 100px;
    margin-top: 100px;

  }

  P {
    font-family: 'Lexend';
    color: #3b61df;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
  
  }
  
  iframe {
    border-radius: 20px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 90px;
  }

  #tuff {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #2748b3;
    transition: transform .2s;
    display: inline-block;
  }
  
  a:hover {
    color: #0d2163; 
    transform: scale(1.2);
  }

  li {
    color: #3b61df;
    font-family: 'Fredoka';
    text-align: center;
    list-style: none;
    font-size: 30px;
    
  }

  #rizz {
    text-align: center;
  }

  #long {
    float: left;
  
  }

  hr {
    border: none;
    height: 2px;
    background-color: #1e33a8;
    margin: 1rem 0;
  }

  .schedule {
    display: flex;
    margin: auto auto;
    justify-content: center;
  }

