table, td {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    border-color: #3b61df;
    font-family: lexend;
    color: #284bbb;
    background-color: rgb(90, 158, 218);
    min-width: 200px;
    table-layout: fixed;
    margin: 20px 5vh;
  }

  header {
    text-align: center;
    font-family: 'Lexend';
    color: #3b61df;
    font-size: 40px;
    margin-bottom: 20px;
  }

  body {
    background-color: #fffaeb;
    padding: 2vh;
    border-radius: 20px;
  }

  h1 {
    font-family: 'Lexend';
    color: #3b61df;
    font-size: 50px;
  }

  img {
  display: block;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  height: auto;
  width: clamp(200px, 60vw, 600px); /* I LOVE U CLAMPS */
  

  }

  P {
    font-family: 'Lexend';
    color: #3b61df;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
  
  }
  
  iframe {
  border-radius: 20px;
  padding: 10px;
  display: block;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

  
  }

    .schedule {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* YES I LOVE U FLEX BOX WRAP */
  }

  img, iframe {
  display: block;
  margin: 20px 5vh; /* centers and adds balanced vertical spacing */
}


  #tuff {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #2748b3;
    transition: transform .2s;
    display: inline-block;
  }
  
  button:hover {
    background: #0d2163; 
    transform: scale(1.2);
  }

  button {
    font-family: 'Fredoka';
    font-size: 30px;
    border-radius: 10px;
    background:#3671df;
    color: #ffffff;
    transition: transform 0.2s, background 0.3s;
    display: inline-block;
    padding: 10px 10px;
    border: none;
    cursor: pointer;

  }

  .buttons {
    display: flex;
    gap: 25px;
    justify-content: center;

  }

  #rizz {
    text-align: center;
  }

  #long {
    float: left;
  
  }

  hr {
    border: none;
    height: 2px;
    background-color: #1e33a8;
    margin: 1rem 0;
  }

