table, td {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    border-color: #3b61df;
    font-family: lexend;
    color: #284bbb;
    background-color: rgb(90, 158, 218);

  }


  body {
    background-color: #fffaeb;
    padding: 100px;
    border-radius: 50px;
  }

  h1 {
    font-family: 'Lexend';
    color: #3b61df;
    font-size: 50px;
  }
  img {
    border-radius: 2px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    flex: right;
    margin: auto auto;
    display: flex;
    flex: left  ;
  }

  P {
    font-family: 'Lexend';
    color: #3b61df;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
  
  }
  
  iframe {
    border-radius: 20px;
    padding: 10px;
  }

  #tuff {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #2748b3;
    transition: transform .2s;
  }
  
  a:hover {
    color: #0d2163; 
    transform: scale(2px);
  }

  li {
    color: #3b61df;
    font-family: 'Fredoka';
    text-align: center;
    list-style: none;
    font-size: 30px;
    
  }

  #rizz {
    text-align: center;
  }

  #long {
    float: left;
  
  }