* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbar navbar"
        "main main"
        "footer footer";
    font-family: 'Lexend', sans-serif;
    background-color: #F9F1DA;
    color: #302f2f;
}

